* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: 5vmin/1.45 'Roboto Slab', serif;
    background: #e6e6e6;
}

p {
    margin-bottom: 1em;
}


/* page */
.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page__item {
    padding: 1em;
    flex: 1;
    margin: 0;
    background: white;
}

.page__header {
    background: blueviolet;
    color: white;
    flex: 0 1 10vmax;
    position: sticky;
    top: 0;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-between;
}

.page__item:not(:first-child) {
    margin-top: 0;
}

.page__hero {
    flex-basis: 90vmax;
}

.page__static {
    flex-grow: 0;
}

@media all and (orientation: landscape) {
    .page__header {
        flex-basis: 20vmin;
    }

    .page__hero {
        flex-basis: 80vmin;
    }
}

/* nav */
.nav {
    display: flex;
    flex-wrap: wrap;
}

.nav--scroll {
    flex-wrap: nowrap;
    overflow-x: auto;
    transform: translateZ(0);
}

.nav__item {
    color: currentColor;
    padding: 1em;
    -webkit-appearance: none;
    background: inherit;
    border: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.nav__item:not(:hover):not(:focus) {
    text-decoration: none;
}

.nav__label {
    position: relative;
}

.nav__label:hover > .nav__sub,
.nav__label:focus-within > .nav__sub {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: auto;
}

.nav__sub {
    position: absolute;
    right: 0;
    background: #e4e4e4;
    color: #252525;
    box-shadow: 0 0 1em #a09d9d;
    min-width: 12em;
    flex-direction: column;
    overflow-y: auto;
    max-height: 12em;
    opacity: 0;
    pointer-events: none;
    flex-wrap: nowrap;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    transform: translateY(20%);
}